<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript">
        var onloadCallback = function() {
          grecaptcha.render('html_element', {
            'sitekey' : '6Lfgtc4ZAAAAAEEqtkAMRnDrdYWRBxI-sPGxrVB0'
          });
        };
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</script>


</head>
<body>
    <div class="content">   
        <h1>Login</h1>
        <form action="/login" method="POST">
                
            <div>
                <input type="text" name="username" id="username" class="form_field" placeholder="Github Username">
            </div>

            <div>
                <input type="password" name="password" id="pwd" class="form_field" placeholder="Password" required>
            </div>
            <script src="php/recaptcha.php"></script>
            <div class="g-recaptcha" data-sitekey="6Lfgtc4ZAAAAAEEqtkAMRnDrdYWRBxI-sPGxrVB0"></div>
            <br />

            <button type="submit" value="Login" >Login</button>

            <div>Submit</div>
        </form>
        <a href="/register">register</a>   

        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer></script>        
    </div>
</body>
</html>