<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>
    <div class="content">   
        <h1>Login</h1>
        <form action="/login" method="POST">
                
            <div>
                <input type="text" name="username" id="username" class="form_field" placeholder="Github Username">
            </div>

            <div>
                <input type="password" name="password" id="pwd" class="form_field" placeholder="Password" required>
            </div>
            <script src="php/recaptcha.php"></script>
            <button type="submit" value="Login" class="g-recaptcha" 
            onclick="onClick()"
            data-sitekey="6LeUsc4ZAAAAAIvj3hywskwGkiwEncZvhVmasFx4" 
            data-callback='onSubmit' 
            data-action='submit'>Login</button>

            <div class="g-recaptcha" 
            data-sitekey="6LeUsc4ZAAAAAIvj3hywskwGkiwEncZvhVmasFx4" 
            data-callback='onSubmit' 
            data-action='submit'>Submit</div>
        </form>
        <a href="/register">register</a>   
        <script>
            function onClick(e) {
              e.preventDefault();
              grecaptcha.ready(function() {
                grecaptcha.execute('reCAPTCHA_site_key', {action: 'submit'}).then(function(token) {
                    // Add your logic to submit to your backend server here.
                });
              });
            }
        </script>

        
    </div>
</body>
</html>